## LaTex Ignore
*.aux
*.glo
*.idx
*.log
*.toc
*.tdo
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

## Verilog Directories and files
.simvision/
INCA_libs/
ncsim.shm/
waves.shm/
ncverilog.key
## Vim swap
*.swp

##Magic
*.ext
*.al
*.nodes
*.vnet
magicext
magicsim
## Misc
*~

##Hex files
/home/hl13g10/VLSI/Design/Implementation/programs/*.hex

## EAGLE temp files
*.s#1
*.s#2
*.s#3
*.s#4
*.s#5
*.s#6
*.s#7
*.s#8
*.s#9

#ignoring report.pdf
Reports/FinalReport/Report.pdf
