## LaTex Ignore
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz

## Verilog Directories and files
.simvision/
INCA_libs/
ncsim.shm/
waves.shm/
ncverilog.key
## Vim swap
*.swp

##Magic
*.ext
*.al
*.nodes
*.vnet
magicext
magicsim
## Misc
*~

##Hex files
/home/hl13g10/VLSI/Design/Implementation/programs/*.hex


